= render 'charges_list', charges_per_customer: @failed_charges_per_customer,      type: :failed
= render 'charges_list', charges_per_customer: @disputed_charges_per_customer,    type: :disputed
= render 'charges_list', charges_per_customer: @successful_charges_per_customer,  type: :successful
